save-prefix=""
no-optional=true
enable-pre-post-scripts=true
link-workspace-packages=deep
prefer-workspace-packages=true
# TODO: investigate these
# strict-peer-dependencies=false
# auto-install-peers=false
